.nav {
  background: var(--mainBlue);
}

.nav a {
  text-decoration: none;
}

.nav-link {
  color: var(--mainWhite) !important;
  font-size: 1.3rem;
  text-transform: capitalize;
}

@media (max-width: 576px) {
  .navbar-nav {
    flex-direction: row !important;
  }
  .nav a {
    margin-left: 10px;
  }
  .nav-link {
    margin-left: 0;
  }
}
